.flex-col-container {
    display: flex;    
    height: 100%; /* 或者适当的高度 */
     
  }
  
  .flex-col-item {
    flex: 1;
    flex-direction: column;   
    
  }

   .flex-row-item{
    flex: 1;
    height: 50%;
    border-top:4px #cfcccc;/* 可选：为了显示效果添加边框 */
   }